
<div class="add_comment_box add_comment_<%= comment.class.to_s.downcase + "_" if comment.class.to_s != "Comment" %><%= comment.id %>">

<% if user_signed_in? %>
<%= form_for(comment.comments.build(user_id: current_user.id, :text =>"temp_comment"), remote: true) do |f| %>


    <%= f.text_area :text, :placeholder => "your comment here", :value => "" %>
    <%= f.hidden_field :comment_id %>
    <%= f.hidden_field :lesson_id %>
    <%= f.submit :class=> "small black button" %>
<% end %>

<% else %>


<% end %>

</div>