<%= form_for(@notification) do |f| %>
  <% if @notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% @notification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lesson_id %><br />
    <%= f.number_field :lesson_id %>
  </div>
  <div class="field">
    <%= f.label :sent %><br />
    <%= f.check_box :sent %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
