<p id="notice"><%= notice %></p>

<p>
  <b>Lesson:</b>
  <%= @notification.lesson_id %>
</p>

<p>
  <b>Sent:</b>
  <%= @notification.sent %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
