<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @answer.text %>
</p>

<p>
  <b>User:</b>
  <%= @answer.user_id %>
</p>

<p>
  <b>Question:</b>
  <%= @answer.question_id %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
