
<div class="add_comment_box add_comment_<%= comment.class.to_s.downcase + "_" if comment.class.to_s != "Comment" %><%= comment.id %>">

<% if user_signed_in? %>
<%= form_for(comment.comments.build(user_id: current_user.id, :text =>"temp_comment"), remote: true) do |f| %>


    <%= f.text_area :text, :placeholder => "text here, " + current_user.name.to_s, :value => "" %>
    <%= f.hidden_field :commentable_id %>
      <%= f.hidden_field :commentable_type %>
      <input name=result type="hidden" value="1">
          <%= f.submit :value => "Add", :class=> "small black button" %>
<% end %>

<% else %>


<% end %>

</div>