<h1>Listing lessons</h1>

<table>
  <tr>
    <th>id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Text</th>
    <th>Time</th>
    <th>Address</th>
    <th>Course</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lessons.each do |lesson| %>
  <tr>
    <td><%= lesson.id %></td>
    <td><%= lesson.title %></td>
    <td><%= lesson.description %></td>
    <td><%= lesson.text %></td>
    <td><%= lesson.time %></td>
    <td><%= lesson.address %></td>
    <td><%= lesson.course_id %></td>
    <td><%= link_to 'Show', lesson %></td>
    <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
    <td><%= link_to 'Destroy', lesson, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lesson', new_lesson_path %>
