<p id="notice"><%= notice %></p>


<div class=row>

  <h4><%= link_to @lesson.course.title, @lesson.course, :remote => true %> / <%= @lesson.title %></h4>

</div>

<div class=panel>

  <div class=row>
    <div class="two columns phone-one">

      <% if Date.today > @lesson.time.to_date %>
          <h2 style="padding-bottom:0px;color:gray;font-weight:normal;"><%= @lesson.time.strftime("%d %B") %></h2>
      <% else %>
          <h2 style="padding-bottom:0px;color:#d30000;font-weight:normal;"><%= @lesson.time.strftime("%d %B") %></h2>
      <% end %>
      <h5 style="margin-top:-15px;color:darkgray;"><%= @lesson.time.strftime("%A") %><br></h5>
      <h4><span class="blue label"><%= @lesson.time.strftime("%I:%M%p") %></span></h4>
    </div>

    <div class="ten columns phone-three">
      <div class=row>
        <div class="one column phone-one">
          <div class="blog-header row">
            <%= render :partial => "ratings/rating", :locals => {:obj => @lesson} %>
          </div>

        </div>
        <div class="seven columns phone-three">
          <h2><%= @lesson.title  %></h2>
          <h6><%= @lesson.description %></h6>
          <%= @lesson.address %>
        </div>
        <div class="four columns" style="text-align:right;">
          <%= render :partial => "attendances/attend", :locals => {:lesson => @lesson} %>
        </div>
      </div>
      <div class=row>
      </div>
    </div>
  </div>

</div>




<div class=row>
  <dl class="contained tabs">
    <dd><a href="#description" class="active">Description</a></dd>
    <dd><a href="#comments">Comments</a></dd>
    <dd><a href="#results">Results</a></dd>
    <dd><a href="#homework">Homework</a></dd>
    <dd><a href="#attending">Attendance</a></dd>
  </dl>
</div>

<ul class="tabs-content contained is_white">
  <li class="active" id="descriptionTab">
    <p><%= @lesson.text.gsub(/\n/,"<br>").html_safe %></p>
    <br>
    <%= link_to 'Edit', edit_lesson_path(@lesson), :class => "small black button" %>
  </li>
  <li id="commentsTab">

    <dl class="sub-nav comment-nav">
      <dt>Comments filter:</dt>
      <dd class="active"><a href="#">Date</a></dd>
      <dd><a href="#">Rating</a></dd>
      <dd><a href="#">Random</a></dd>
    </dl>

    <div class="comments comments_to_lesson_<%= @lesson.id %>" data-type="<%= @lesson.class.to_s.downcase %>" data-id="<%= @lesson.id %>">
      <%= render :partial => "comments/comments", :locals => {:comment => @lesson} %>
    </div>
  </li>
  <li id=resultsTab>
   <%= render :partial => "lessons/goodandbad", :locals => {:lesson => @lesson} %>
  </li>
  <li id=homeworkTab>
    <%=  render :partial => "homeworks/homeworks", :locals => {:homeworks => @lesson.homeworks} %>
  </li>
  <li id=attendingTab>
    <% @lesson.users.each do |u| %>
    <p><%= u.name %></p>
    <% end %>
  </li>
</ul>



