<p id="notice"><%= notice %></p>


<div class=row>

  <h4><%= link_to @lesson.course.title, @lesson.course %> / <%= @lesson.title %></h4>

</div>

<div class=panel>

  <div class=row>
    <div class="two columns phone-one">

      <% if Date.today > @lesson.time.to_date %>
          <h5><%= @lesson.time.strftime("%d %B") %></h5>
      <% else %>
          <h5 style="color:red"><%= @lesson.time.strftime("%d %B") %></h5>
      <% end %>
      <h5 style="color:darkgray;"><%= @lesson.time.strftime("%A") %><br></h5>
      <h4><span class="blue label"><%= @lesson.time.strftime("%I:%M%p") %></span></h4>

    </div>
    <div class="ten columns phone-three">
          <div class=row>
            <div class="nine columns">
              <h3><%= @lesson.title %></h3>
            </div>
            <div class="three columns">
              <%= link_to 'Edit', edit_lesson_path(@lesson), :class=> "small black radius button" %>
            </div>
          </div>

          <div class=row>
            <h6><%= @lesson.description %></h6>
            <p><%= @lesson.text.gsub(/\n/,"<br>").html_safe %></p>
            <%= render :partial => "attendances/attend", :locals => {:lesson => @lesson} %>

          </div>
    </div>
  </div>

</div>


<p>
  <b>Time:</b>
  <%= @lesson.time %>
</p>

<p>
  <b>Address:</b>
  <%= @lesson.address %>
</p>

<p>
  <b>Course:</b>

</p>

    <hr/>

      <dl class="sub-nav comment-nav">
        <dt>Comments filter:</dt>
        <dd class="active"><a href="#">Date</a></dd>
        <dd><a href="#">Rating</a></dd>
        <dd><a href="#">Random</a></dd>
      </dl>

    <div class="comments comments_to_lesson_<%= @lesson.id %>" data-type="<%= @lesson.class.to_s.downcase %>" data-id="<%= @lesson.id %>">
        <%= render :partial => "comments/comments", :locals => {:comment => @lesson} %>
    </div>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>

