<h2>Sign in</h2>
<p>Sign in please :)</p>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
  <%= f.email_field :email, :placeholder => "email" %></div>
    <br />
  <div>
  <%= f.password_field :password, :placeholder => "password" %></div>
    <br />
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me, :style => "display:inline-block;" %> <%= f.label :remember_me, :style => "display:inline-block;" %></div>
  <% end -%>
    <br />
  <div><%= f.submit "Sign in", :class => "large nice blue button" %></div>
<% end %>

<%= render "links" %>