<%= form_for(@homework) do |f| %>
  <% if @homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
      <% @homework.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder => "Title here" %>
  </div>
    <br>
  <div class="field">
    <%= f.text_area :description, :placeholder => "Description here" %>
  </div>
  <div class="field">
    <%= f.hidden_field :lesson_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
