<% counter = 0 %>
<% homeworks.each do |h| %>
    
    <% counter += 1 %>

    <div class=row>
        <div class="one column phone-one">
          <h1 class=logo><%= counter %></h1>
        </div>
        <div class="eight columns phone-three">
        <h3><%= h.title %></h3>

          <%= h.description %>
        </div>
        <div class="three columns">
        <%= render :partial => "Progresses/complete", :locals => {:obj => h} %>
        </div>

    </div>

    <div class=row>
      <%= render :partial => "comments/comments", :locals => {:comment => h} %>
    </div>
     <br>
<% end %>
<br>
<br>
<br>
