<%= form_for @post,  :html => { :multipart => true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>

    <% f.fields_for :attachments do |attachment| %>

    <% end %>

    <%= f.fields_for :attachments do |attachment| %>
        <% if attachment.object.new_record? %>
            <%= attachment.file_field :pic %>
        <% end %>
        <% unless attachment.object.new_record? %>
            <div class="thumbnail">
              <%= link_to( image_tag(attachment.object.pic.url(:thumb)), attachment.object.pic.url(:original) ) %>
              Delete?<%= attachment.check_box :_destroy %>
            </div>
        <% end %>
    <% end %>




    <div class="actions">
    <%= f.submit :class => "large blue nice button" %>
  </div>
<% end %>
