<div class="attend_<%= lesson.id %>">
<% a = lesson.attendance %>
<% if a == 1  %>
    <% a_title = "<b>#{a}</b> person is going" if Date.today <= lesson.time.to_date %>
    <% a_title = "<b>#{a}</b> person was there" if Date.today > lesson.time.to_date %>
<% elsif a==0 %>
    <% a_title = "Nobody is going yet" if Date.today <= lesson.time.to_date %>
    <% a_title = "Nobody was there" if Date.today > lesson.time.to_date %>
<% else %>
      <% a_title = "<b>#{a}</b> people are going" if Date.today <= lesson.time.to_date %>
      <% a_title = "<b>#{a}</b> people were there" if Date.today > lesson.time.to_date %>
<% end %>
      <p><%= a_title.html_safe %></p>

<% if user_signed_in?  %>


      <% if Date.today <= lesson.time.to_date %>
          
          <%	url= "/attend/" +  lesson.id.to_s	%>
        <%= form_for(lesson, :url => url,
                       html: { method: :post, class: '' },
                       remote: true) do |f| %>
              <% if current_user.attending?(lesson) then %>
                  <p><span class=gray>I'm going!</span></p> <%= f.submit "Cancel", class: "button white nice small" %>
              <% else %>
                  <%= f.submit "WILL ATTEND", class: "button nice small" %>
              <% end %>
          <% end %>
        
       <% else %>

          <% if current_user.attending?(lesson) then %>
            <span class=gray>You've been there</span>
          <% else %>
            <span class=gray>You haven't been there</span>
        <% end %>
      
       <% end %>

<% else %>

    <% if Date.today <= lesson.time.to_date %>
        <a href="#" class="button nice small" data-reveal-id="login">WILL ATTEND!</a>
    <br>
    <% else %>
    <% end %>
<% end %>

</div>
