<!DOCTYPE html>
<html>
<head>
  <title>School</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" />
  <%= stylesheet_link_tag    "application", :media => 'screen,projection' %>
  <%= stylesheet_link_tag    "bootstrap.min", :media => 'screen,projection' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

</head>
<body>

<%= render "home/header" %>

<div class=container>

  <% if controller.controller_name=="home"&&controller.action_name=="index" %>
    <%= render "home/slider" %>
  <% end %>

  <div class="body row">
     <div class="eight columns">
        <%= yield %>
     </div>
     <div class="sidebar four columns">
       <%=  render "home/sidebar" %>
     </div>
  </div>
</div>

<%= render "home/footer" %>

<!--
<%= controller.controller_name %>
<%= controller.action_name %>
-->

</body>
</html>
