<!DOCTYPE html>
<html>
<head>
  <title>School</title>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0" />
  <%= stylesheet_link_tag    "application", :media => 'screen,projection' %>
  <%= stylesheet_link_tag    "bootstrap.min", :media => 'screen,projection' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>

  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32474755-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>


</head>
<body>

<%= render "home/header" %>

<div class=container>

  <% if controller.controller_name=="home"&&controller.action_name=="index" %>
    <%= render "home/slider" %>
  <% end %>

  <div class="body row">
     <div class="eight columns">
       <div class=yield>
        <%= yield %>
       </div>
     </div>
     <div class="sidebar four columns">
       <%=  render "home/sidebar" %>
     </div>
  </div>
</div>

<%= render "home/footer" %>

<!--
<%= controller.controller_name %>
<%= controller.action_name %>
-->

<script>
    $(document).ready(function () {
        $(".vote").live('click',function () {
            var v1 = 0;
            if ($(this).hasClass("up")) {
                v1 = 1
            }
            if ($(this).hasClass("down")) {
                v1 = -1
            }
            id = $(this).parent().attr("data-id");
            cls = $(this).parent().attr("data-class");

            $.ajax({url:"/vote", data: {obj: cls, id: id, value:v1}});
            $(this).parent().find(".rating").html("<div class=load></div>");
        });
    });

</script>

<script>
    <% if user_signed_in? %>
    $(document).ready(function () {
        $(".add_comment").live("click", function (e) {
            e.preventDefault();
            comment_id = $(this).attr("data-id");

            var hide1=0;

            if ($(".add_comment_" + comment_id).css("display") != 'none') {
                hide1=1;
            }

            $(".add_comment_box").hide(100);
            if (hide1==0) $(".add_comment_" + comment_id).toggle(100);
        });



    });
    <% else %>

    <% end %>


    $(document).ready(function (){
        $(".comment-body").live("hover", function() {
            $(".new-comment-button").hide();
            $(this).find(".new-comment-button").show();
        });
    });
</script>


</body>
</html>
